[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/bribrileonard
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/bribrileonard
	label-Verified = -1..+1 group user/bribrileonard
	push = group user/bribrileonard
	read = group user/bribrileonard
	rebase = group user/bribrileonard
	removeReviewer = group user/bribrileonard
	submit = group user/bribrileonard
[access "refs/heads/*"]
	create = group user/bribrileonard
	push = +force group user/bribrileonard
	pushMerge = group user/bribrileonard
	read = group user/bribrileonard
[access "refs/tags/*"]
	push = group user/bribrileonard
	push = +force group user/bribrileonard
